aiohttp
hachoir
numpy
Pillow
requests
tgcrypto
olefile
motor
pytz
pymongo
dnspython
psutil
filetype
tldextract
ffmpeg-python
aiofiles
pyromod
yt-dlp==2025.06.30
pytube
flask
gunicorn==20.1.0
git+https://github.com/eyMarv/pyroblack
